Question 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a #the function b() keeps on adding 2

6

Question 2

In [10]:
def fileLength(filename):
	#reading data
	try:
		f=open(filename,'r')
		#reading all lines as a list of list
		data=f.readlines()
		#creating a single line from all lines
		line=""
		for i in data:
			line+=i
		result=len(line)
		return result
	except FileNotFoundError:
		return ("File {} not found.".format(filename))

print(fileLength('problemset1.py'))
print(fileLength('problemset2.py'))

File problemset1.py not found.
File problemset2.py not found.

Question 3

In [9]:
class Marsupial:
    def __init__(self):
        self.pouch=[]

# the required method

    def put_in_pouch(self, item):# adds item to the pouch
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

#subclass

class Kangaroo(Marsupial):
    def __init__(self, x,y):# parents constructor
        Marsupial.__init__(self)
        self.x=x
        self.y=y

    def jump(self, dx, dy):
        self.x+=dx
        self.x+=dy

    def __str__(self):
        return "I am a Kanagroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

k = Kangaroo(0,0)

print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kanagroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo located at coordinates (3,0)

Question 4

In [20]:
def main():
    collatz(10)
def collatz(x):
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        x = x/2
        collatz(x)
    else:
        print(x)
        x = 3*x + 1
        collatz(x)
if __name__ == "__main__":
    main()

10
5.0
16.0
8.0
4.0
2.0
1.0

Question 5

In [22]:
def binary(n):
   
    # Base case
    if n == 0:
        return 0
       
     # Recursion call and storing the result
    smallans = binary(n // 2)
     
    return n % 2 + 10 * smallans
   
# Driver Code
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

question 6

In [27]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            print(tag)

    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag)

    def handle_data(self, data):
        print(data)
parser = HeadingParser()
infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














h1
W3C Mission
h1


h2
Principles
h2

question 7

In [28]:
import requests

from bs4 import BeautifulSoup   

def webdir(url, depth, indent):
    resp = requests.get(url)
    
    
    
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')     
    for link in soup.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('http')):
            webdir(new_link, depth, indent+1)

        

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

question 8

In [29]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=9b69b464036ce6fa15e3317d737c65e2f1de5e3864139477eb9291c4e8115c7b
  Stored in directory: c:\users\tirth\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)

In [30]:
%load_ext sql

In [31]:
%sql sqlite://

In [37]:
%%sql
CREATE TABLE whether
(
city varchar(15),
countrt varchar(15),
season varchar(15),
temperature float,
rainfall float
);

%%sql
INSERT INTO whether VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5);

%%sql
select * from whether;

 * sqlite://
Done.
(sqlite3.OperationalError) near "%": syntax error
[SQL: %%sql
INSERT INTO whether VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [34]:
%%sql
# WILL RETURN ALL TEMPERATURE DATA
select temperature from whether;

 * sqlite://
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # WILL RETURN ALL TEMPERATURE DATA
select temperature from whether;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [35]:
# WILL RETURN ALL CITIES, BUT WITHOUT REPITATION
%%sql
select distinct city from whether;

SyntaxError: invalid syntax (Temp/ipykernel_26368/1580353823.py, line 3)

In [36]:
 * sqlite://

SyntaxError: invalid syntax (Temp/ipykernel_26368/812394146.py, line 1)

In [ ]:
#WILL RETURN ALL RECORDS FOR INDIA
%%sql
select * from whether where countrt =='India';

In [ ]:
#WILL RETURN CITY, COUNTRY, SEASON FOR RAINFALL IN BETWEEN 200 AND 400
%%sql
select city, countrt, season from whether where rainfall between 200 and 400

In [ ]:
#WILL RETURN CITY AND COUNTRY FOR FALL SEASON WHERE TEMP > 20
%%sql
select city, countrt from whether where season == 'Fall' and temperature > 20 order by temperature ASC;

In [ ]:
#WILL RETURN ANNUAL RAINFALL FOR CAIRO CITY
%%sql
select sum(rainfall) AS annual_rainfall from whether where city == 'Cairo';

In [ ]:
# WILL RETURN ANNUAL RAINFALL FOR EACH SEASON
%%sql
select season, sum(rainfall) AS annual_rainfall from whether group by season;

In [38]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]

# a) Convert words into upper case
Uppercase = [word.upper() for word in words]
print(Uppercase)
print("\n")


# b) Convert words into lower case

Lowercase = [word.lower() for word in words]
print(Lowercase)
print("\n")


# c) the list of length of words in list words

wordsLength = []
for w in words:
    wordsLength.append(len(w))     
print(wordsLength)
print("\n")


# d) the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and 
# the length of the word

initializeCounterValue = 0
singleListArray = []
    
for j in words:
    singleListArray.append(Uppercase[initializeCounterValue])
    singleListArray.append(Lowercase[initializeCounterValue])
    singleListArray.append(wordsLength[initializeCounterValue])
    initializeCounterValue = initializeCounterValue + 1

delimiterVariableLimit = 3
resultArray = [singleListArray[additor:additor+delimiterVariableLimit] for additor in range(0, len(singleListArray), delimiterVariableLimit)]
print(resultArray)
print("\n")

# e) the list of words in list words containing 4 or more characters

def wordString(k, str):    
    string = []     
    text = str.split(" ")     
    for x in text:         
        if len(x) >= k:            
            string.append(x)             
    return string
    
result_list = [''.join([str(c) for c in lst]) for lst in words]
result_string = ' '.join(result_list)
requiredCharacterLength = 4
print(wordString(requiredCharacterLength, result_string))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']